@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap');
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
body{
    background: #232741;
    color: #ffffff;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none; !important
}
.containercentre{
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 3px solid green;
    text-align: center;
    position: relative;
    }

.land {
	overflow: hidden;
	margin: 0 auto;
	padding: 2px 0 10em 0;
	max-width: 1100px;
	width: 99%;
    text-decoration: none;
    text-align: center;
     position: relative;
    
}
.heading{
    display: inline;
    margin: 0px;
}
.land h1 {
    color: white;
    font-family: "Righteous", serif;
    font-size: 12em;
    font-size: 10vw;
    height: 15vh;

    text-shadow: 0.03em 0.03em 0 hsla(230, 40%, 50%, 1);
}
.land h2 {
	margin: 0;
	color: #1c9ccd;
	font-size: 3vw;
	line-height: 1;
    position: static;
}
#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* Media queries */

@media screen and (max-width: 45em) {

	.land h2 {
		font-size: 2.25em;
		font-size: 10vw;
	}
    .land h1 {
		font-size: 7.5em;
		font-size: 25vw;
	}
    .menu__link{
		font-size: 3vw;
    } 
    .socialbuttons{
    padding: 10px;
}
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.menu {
	line-height: 1;
	margin: 0 auto 3em;
}

.menu__list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0 0 0 25%;
	list-style: none;
}

.menu__item {
	display: block;
	margin: 1em 0;
    
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
    text-align: center;
    text-decoration: none;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
    text-decoration: none;
}
/* Prospero */

.menu--prospero .menu__link {
	position: relative;
	display: block;
	margin: 0 1.5em;
	padding: 0.75em 0;
	text-align: center;
	color: #fff;
	transition: color 0.3s;
}

.menu--prospero .menu__link:hover,
.menu--prospero .menu__link:focus {
	color: #1c9ccd;
}

.menu--prospero .menu__item--current .menu__link {
	color: #d94f5c;
}

.menu--prospero .menu__link::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	background: #d94f5c;
	transform: scale3d(0, 1, 1);
	transition: transform 0.1s;
}

.menu--prospero .menu__item--current .menu__link::before {
	transform: scale3d(1, 1, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.3s;
}
/**
 * ----------------------------------------
 * buttons
 * ----------------------------------------
 */
button {color:#454545;background:transparent;border-width:2px;border-style: solid;border-color: #d94f5c;position:relative;margin:1em;display:inline-block;padding:0.5em 1em;transition:all 0.3s ease-in-out;text-align:center;
font-family:comfortaa;font-weight:bold;}
button:before, button:after {content:'';
    display:block;
    position:absolute;
    border-color:#d94f5c;
    box-sizing:border-box;
    border-style:solid;
    width:1em;
    height:1em;transition:all 0.3s ease-in-out}
button:before {top:-6px;
    left:-6px;
    border-width:2px 0 0 2px;
    z-index:5;}
button:after {
    bottom:-6px;
    right:-6px;
    border-width:0 2px 2px 0;}
button:hover:before, button:hover:after {
    width:calc(100% + 12px);
    height:calc(100% + 12px);
    border-color:#fff}
button:hover {
    color:#d94f5c;
    background-color:#fff;
    border-color:#fff}

.pink button {color:#d94f5c;border-color:#d94f5c;}
.pink button:before, .pink button:after  {border-color:#d94f5c}
.pink button:hover:before, .pink button:hover:after {border-color:#d94f5c;}
.pink button:hover {color:#fff;background-color:#d94f5c;border-color:#d94f5c;}
.pink .panel {max-width:960px;text-align:center;position:relative;margin:auto;}
.socialbuttons{
    padding: 100px;
}
/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
.text-pop-up-top {
	-webkit-animation: text-pop-up-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes text-pop-up-top{0%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:none}100%{-webkit-transform:translateY(-50px);transform:translateY(-50px);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)}}@keyframes text-pop-up-top{0%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:none}100%{-webkit-transform:translateY(-50px);transform:translateY(-50px);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)}}
/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
.swing-in-top-fwd{-webkit-animation:swing-in-top-fwd .5s cubic-bezier(.175,.885,.32,1.275) 1s both;animation:swing-in-top-fwd .5s cubic-bezier(.175,.885,.32,1.275) 1s both}
@-webkit-keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}@keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}

/**
 * ----------------------------------------
 * animation swirl-in-fwd
 * ----------------------------------------
 */
.swirl-in-fwd{-webkit-animation:swirl-in-fwd .6s ease-out 2s both;animation:swirl-in-fwd .6s ease-out 2s both}
@-webkit-keyframes swirl-in-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}}@keyframes swirl-in-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}}
/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
.focus-in-expand{-webkit-animation:focus-in-expand .8s cubic-bezier(.25,.46,.45,.94) 1s both;animation:focus-in-expand .8s cubic-bezier(.25,.46,.45,.94) 1s both}
@-webkit-keyframes focus-in-expand{0%{letter-spacing:-.5em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand{0%{letter-spacing:-.5em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}
/* Footer */

	#footer {
		bottom: 0;
		cursor: default;
		height: 6em;
		left: 0;
		line-height: 8em;
		position: absolute;
		text-align: center;
		width: 100%;
	}